$lifemap-template-standard-color-background: $lifemap-global-fill-color-background !default;
$lifemap-template-standard--content-width: $lifemap-size-page-width !default;
$lifemap-template-standard--content-margin-top: 64px !default;
$lifemap-template-standard--content-margin-bottom: 70px !default;

.lifemap-template-standard {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  background-color: $lifemap-template-standard-color-background;
  overflow: auto;

  &--header {
    @include u-shadow;
    z-index: 2;
  }

  &--body {
    flex-grow: 1;
    z-index: 1;
    outline: none;
    overflow: auto;
  }

  &--content {
    margin: $lifemap-template-standard--content-margin-top auto $lifemap-template-standard--content-margin-bottom;
    width: $lifemap-template-standard--content-width;
  }

  &--footer {
    margin-top: auto;
    background-color: $lifemap-global-fill-color-main-light;
    color: $lifemap-global-text-color-shade-50;
    padding: 20px;
  }
}