@use "../../shared/animation/animation";
@use "../../shared/size/size";

.twinkle-area {
  @include size.m-heights;
  @include size.m-widths;
  @include animation.m-twinkle;
  display: block;
  position: relative;
  width: 100%;
}