$root-color-text: $global-text-color-shade-100 !default;
$root-color-fill: $global-text-color-shade-0 !default;
$root-font-family: $global-sans-primary-font-family !default;
$root-font-size: $global-font-size !default;

$root-scrollbar-color: $global-fill-color-main !default;
$root-scrollbar-size: 6px !default;
$root-scrollbar-border-radius: 1.5px !default;

:root {
  color: $root-color-text;
  background-color: $root-color-fill;
  font-family: $root-font-family;
  font-size: $root-font-size;

  scrollbar-color: $root-scrollbar-color transparent;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: $root-scrollbar-size;
    height: $root-scrollbar-size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $root-scrollbar-border-radius;
    background-color: $root-scrollbar-color;
  }
}