$global-color-bg-beige: #f8f7f5;
$global-color-black: #000;
$global-color-black-70: rgba($global-color-black, 70%);
$global-color-black-80: rgba($global-color-black, 80%);
$global-color-black-85: rgba($global-color-black, 85%);
$global-color-grey-dark: #1d1d1d;
$global-color-charcoal: #3c3c3b;
$global-color-charcoal-grey: #3a3c4d;
$global-color-charcoal-grey-lighter: #4c4e5c;
$global-color-grey-cell: #636771;
$global-color-grey: #808491;
$global-color-grey-25: rgba($global-color-grey, 25%);
$global-color-grey-icon: #bfbfbf;
$global-color-very-light-pink-two: #dadada;
$global-color-grey-light: #f8f8f9;
$global-color-white: #fafafa;
$global-color-white-pure: #fff;
$global-color-blue-grey: #A6B0C5;
$global-color-river-blue: #337ab7;
$global-color-green: #3ec487;
$global-color-lime: #00ff00;
$global-color-lime-40: rgba($global-color-lime, 40%);
$global-color-lime-green: #32CD32;
$global-color-spring-green: #00FF7F;
$global-color-red: #f03a5f;
$global-color-orange-red: #ff4500;
$global-color-orange-red-40: rgba($global-color-orange-red, 40%);
$global-color-aqua: #00ffff;
$global-color-aqua-80: rgba($global-color-aqua, 80%);
$global-color-deep-pink: #ff1493;
$global-color-deep-pink-30: rgba($global-color-deep-pink, 30%);;
$global-color-facebook: #1877f2;
$global-color-twitter: #1D9BF0;

$global-text-color-shade-0: $global-color-black !default;
$global-text-color-shade-0-70: $global-color-black-70 !default;
$global-text-color-shade-5: $global-color-grey-dark !default;
$global-text-color-shade-20: $global-color-charcoal !default;
$global-text-color-shade-30: $global-color-charcoal-grey !default;
$global-text-color-shade-35: $global-color-charcoal-grey-lighter !default;
$global-text-color-shade-40: $global-color-grey-cell !default;
$global-text-color-shade-50: $global-color-grey !default;
$global-text-color-shade-75: $global-color-grey-icon !default;
$global-text-color-shade-85: $global-color-very-light-pink-two !default;
$global-text-color-shade-95: $global-color-grey-light !default;
$global-text-color-shade-100: $global-color-white-pure !default;
$global-text-color-main: $global-color-blue-grey !default;
$global-text-color-main-dark: change-color($global-color-blue-grey, $lightness: 50%) !default;
$global-text-color-main-extra-dark: change-color($global-color-blue-grey, $lightness: 30%) !default;
$global-text-color-secondary: $global-color-river-blue !default;
$global-text-color-secondary-dark: change-color($global-color-river-blue, $lightness: 30%);
$global-text-color-facebook: $global-color-facebook !default;
$global-text-color-facebook-light: change-color($global-color-facebook, $lightness: 70%) !default;
$global-text-color-twitter: $global-color-twitter !default;
$global-text-color-twitter-light: change-color($global-color-twitter, $lightness: 70%) !default;
$global-text-color-github: $global-color-black !default;
$global-text-color-github-light: change-color($global-color-black, $lightness: 70%) !default;
$global-text-color-path-start: $global-color-lime;
$global-text-color-path-start-40: $global-color-lime-40;
$global-text-color-path-end: $global-color-orange-red;
$global-text-color-aqua: $global-color-aqua;
$global-text-color-aqua-80: $global-color-aqua-80;
$global-text-color-deep-pink: $global-color-deep-pink;

// $global-fill-color-shadow: rgba(#506291, 0.16) !default;
// $global-fill-color-shadow-darken: rgba(#506291, 0.28) !default;
$global-fill-color-shadow: rgba(#fff, 0.16) !default;
$global-fill-color-shadow-darken: rgba(#fff, 0.28) !default;
$global-fill-color-shade-0: $global-color-black !default;
$global-fill-color-shade-0-70: $global-color-black-70 !default;
$global-fill-color-shade-0-80: $global-color-black-80 !default;
$global-fill-color-shade-0-85: $global-color-black-85 !default;
$global-fill-color-shade-5: $global-color-grey-dark !default;
$global-fill-color-shade-10: #23232a !default;
$global-fill-color-shade-20: $global-color-charcoal !default;
$global-fill-color-shade-30: $global-color-charcoal-grey !default;
$global-fill-color-shade-35: $global-color-charcoal-grey-lighter !default;
$global-fill-color-shade-40: $global-color-grey-cell !default;
$global-fill-color-shade-50: $global-color-grey !default;
$global-fill-color-shade-50-faded: $global-color-grey-25 !default;
$global-fill-color-shade-75: $global-color-grey-icon !default;
$global-fill-color-shade-85: $global-color-very-light-pink-two !default;
$global-fill-color-shade-95: $global-color-grey-light !default;
$global-fill-color-shade-100: $global-color-white-pure !default;
$global-fill-color-background: $global-text-color-shade-100 !default;
$global-fill-color-main: $global-color-blue-grey !default;
$global-fill-color-main-light: change-color($global-color-blue-grey, $lightness: 95%) !default;
$global-fill-color-main-dark: change-color($global-color-blue-grey, $lightness: 50%) !default;
$global-fill-color-path-start: $global-color-lime;
$global-fill-color-path-start-40: $global-color-lime-40;
$global-fill-color-path-end: $global-color-orange-red;
$global-fill-color-path-end-40: $global-color-orange-red-40;
$global-fill-color-aqua: $global-color-aqua;
$global-fill-color-aqua-80: $global-color-aqua-80;
$global-fill-color-deep-pink: $global-color-deep-pink;
$global-fill-color-deep-pink-30: $global-color-deep-pink-30;

@import 'input';