@use 'color';

$global-input-color-line: color.$global-fill-color-shade-50-faded !default;
$global-color-background: color.$global-fill-color-shade-100 !default;

$global-secondary-color-line: color.$global-fill-color-shade-95 !default;
$global-secondary-color-background: color.$global-fill-color-shade-95 !default;
