$global-input-color-line: $global-fill-color-shade-50-faded !default;
$global-color-background: $global-fill-color-shade-100 !default;

$global-secondary-color-line: $global-fill-color-shade-95 !default;
$global-secondary-color-background: $global-fill-color-shade-95 !default;