@mixin lifemap-gap($gap) {
  $pixel-spacing: $gap * 1px;

  &.-gap-#{$gap} {
    gap: $pixel-spacing;
  }
}

.lifemap-flex-container {
  @include u-paddings;
  @include u-margins;
  @include lifemap-gap(6);
  @include lifemap-gap(8);
  @include lifemap-gap(12);
  @include lifemap-gap(16);
  @include lifemap-gap(20);
  @include lifemap-gap(24);
  @include lifemap-gap(40);
  @include lifemap-gap(60);
  display: flex;

  &.-vertical {
    flex-direction: column;
    height: 100%;
  }

  &.-align-center {
    align-items: center;
  }

  &.-align-end {
    align-items: end;
  }

  &.-justify-center {
    justify-content: center;
  }

  &.-equivalent > &--item {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
  }

  &--item {
    @include u-margins;
    @include u-text-align;

    &.-stretch {
      align-self: stretch;
    }

    &.-expand {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
    }
  }
}