$lifemap-template-modal-padding: 20px !default;
$lifemap-template-modal-color-background: $lifemap-global-fill-color-shade-50-faded !default;

.lifemap-template-modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: safe center;
  justify-content: safe center;
  transition: opacity 0.5s ease-in;
  z-index: 5;
  background-color: $lifemap-template-modal-color-background;
  overflow: auto;

  &.-close {
    opacity: 0;
  }

  &.-open {
    opacity: 1;
  }

  &.-hide {
    display: none;
  }

  &--content {
    margin: auto;
    padding: $lifemap-template-modal-padding;
  }
}
