$lifemap-block-border-radius: 12px !default;

.lifemap-block {
  @include u-clickable;
  @include u-shadow;
  @include u-paddings;
  border-radius: $lifemap-block-border-radius;

  &.-stretch {
    height: 100%;
  }

  &:hover.-hoverable {
    @include u-shadow-darken;
    cursor: pointer;
  }
}