@use "../../shared/border/border";
@use "../../shared/cursor/cursor";
@use "../../shared/fill/fill";
@use "../../shared/shadow/shadow";
@use "../../shared/spacing/spacing";

$block-border-radius: 12px !default;

.block {
  @include cursor.m-clickable;
  @include spacing.m-paddings;
  @include spacing.m-margins;
  @include border.m-border;
  @include fill.m-fill-color;
  box-sizing: border-box;
  border-radius: $block-border-radius;

  &.-shadow {
    @include shadow.m-shadow;
  }

  &.-stretch {
    height: 100%;
    width: 100%;
  }

  &.-no-radius {
    border-radius: 0;
  }

  &.-scrollable-y  {
    overflow-y: auto;
  }

  &:hover.-hoverable {
    @include shadow.m-shadow-darken;
    cursor: pointer;
  }
}