$lifemap-root-color-text: $lifemap-global-text-color-shade-5 !default;
$lifemap-root-font-family: $lifemap-global-sans-primary-font-family !default;
$lifemap-root-font-size: $lifemap-global-font-size !default;

:root {
  color: $lifemap-root-color-text;
  font-family: $lifemap-root-font-family;
  font-size: $lifemap-root-font-size;
}