$lifemap-global-color-bg-beige: #f8f7f5;
$lifemap-global-color-black: #000;
$lifemap-global-color-grey-dark: #1d1d1d;
$lifemap-global-color-charcoal: #3c3c3b;
$lifemap-global-color-charcoal-grey: #3a3c4d;
$lifemap-global-color-charcoal-grey-lighter: #4c4e5c;
$lifemap-global-color-grey-cell: #636771;
$lifemap-global-color-grey: #808491;
$lifemap-global-color-grey-25: rgba($lifemap-global-color-grey, 25%);
$lifemap-global-color-grey-icon: #bfbfbf;
$lifemap-global-color-very-light-pink-two: #dadada;
$lifemap-global-color-grey-light: #f8f8f9;
$lifemap-global-color-white: #fafafa;
$lifemap-global-color-white-pure: #fff;
$lifemap-global-color-blue-grey: #A6B0C5;
$lifemap-global-color-river-blue: #337ab7;
$lifemap-global-color-facebook: #1877f2;
$lifemap-global-color-twitter: #1D9BF0;

$lifemap-global-text-color-shade-0: $lifemap-global-color-black !default;
$lifemap-global-text-color-shade-5: $lifemap-global-color-grey-dark !default;
$lifemap-global-text-color-shade-20: $lifemap-global-color-charcoal !default;
$lifemap-global-text-color-shade-30: $lifemap-global-color-charcoal-grey !default;
$lifemap-global-text-color-shade-35: $lifemap-global-color-charcoal-grey-lighter !default;
$lifemap-global-text-color-shade-40: $lifemap-global-color-grey-cell !default;
$lifemap-global-text-color-shade-50: $lifemap-global-color-grey !default;
$lifemap-global-text-color-shade-75: $lifemap-global-color-grey-icon !default;
$lifemap-global-text-color-shade-85: $lifemap-global-color-very-light-pink-two !default;
$lifemap-global-text-color-shade-95: $lifemap-global-color-grey-light !default;
$lifemap-global-text-color-shade-100: $lifemap-global-color-white-pure !default;
$lifemap-global-text-color-main: $lifemap-global-color-blue-grey !default;
$lifemap-global-text-color-main-dark: change-color($lifemap-global-color-blue-grey, $lightness: 50%) !default;
$lifemap-global-text-color-main-extra-dark: change-color($lifemap-global-color-blue-grey, $lightness: 30%) !default;
$lifemap-global-text-color-secondary: $lifemap-global-color-river-blue !default;
$lifemap-global-text-color-secondary-dark: change-color($lifemap-global-color-river-blue, $lightness: 30%);
$lifemap-global-text-color-facebook: $lifemap-global-color-facebook !default;
$lifemap-global-text-color-facebook-light: change-color($lifemap-global-color-facebook, $lightness: 70%) !default;
$lifemap-global-text-color-twitter: $lifemap-global-color-twitter !default;
$lifemap-global-text-color-twitter-light: change-color($lifemap-global-color-twitter, $lightness: 70%) !default;
$lifemap-global-text-color-github: $lifemap-global-color-black !default;
$lifemap-global-text-color-github-light: change-color($lifemap-global-color-black, $lightness: 70%) !default;

$lifemap-global-fill-color-shadow: rgba(#506291, 0.16) !default;
$lifemap-global-fill-color-shadow-darken: rgba(#506291, 0.28) !default;
$lifemap-global-fill-color-shade-0: $lifemap-global-color-black !default;
$lifemap-global-fill-color-shade-5: $lifemap-global-color-grey-dark !default;
$lifemap-global-fill-color-shade-10: #23232a !default;
$lifemap-global-fill-color-shade-20: $lifemap-global-color-charcoal !default;
$lifemap-global-fill-color-shade-30: $lifemap-global-color-charcoal-grey !default;
$lifemap-global-fill-color-shade-35: $lifemap-global-color-charcoal-grey-lighter !default;
$lifemap-global-fill-color-shade-40: $lifemap-global-color-grey-cell !default;
$lifemap-global-fill-color-shade-50: $lifemap-global-color-grey !default;
$lifemap-global-fill-color-shade-50-faded: $lifemap-global-color-grey-25 !default;
$lifemap-global-fill-color-shade-75: $lifemap-global-color-grey-icon !default;
$lifemap-global-fill-color-shade-85: $lifemap-global-color-very-light-pink-two !default;
$lifemap-global-fill-color-shade-95: $lifemap-global-color-grey-light !default;
$lifemap-global-fill-color-shade-100: $lifemap-global-color-white-pure !default;
$lifemap-global-fill-color-background: $lifemap-global-text-color-shade-100 !default;
$lifemap-global-fill-color-main: $lifemap-global-color-blue-grey !default;
$lifemap-global-fill-color-main-light: change-color($lifemap-global-color-blue-grey, $lightness: 95%) !default;
$lifemap-global-fill-color-main-dark: change-color($lifemap-global-color-blue-grey, $lightness: 50%) !default;

@import 'input';