$lifemap-global-input-color-line: $lifemap-global-fill-color-shade-50-faded !default;
$lifemap-global-color-background: $lifemap-global-fill-color-shade-100 !default;

$lifemap-global-secondary-color-line: $lifemap-global-fill-color-shade-95 !default;
$lifemap-global-secondary-color-background: $lifemap-global-fill-color-shade-95 !default;