$sidebar-fill-color: $global-fill-color-shade-0-85 !default;
$sidebar-width: 250px !default;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: $sidebar-width;
  padding: 24px 16px;
  background-color: $sidebar-fill-color;
  height: calc(100% - 48px);
  user-select: text;

  &--slot {

    &.-expand {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
    }

    &.-scrollable {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}