$sidebar-border-color: $global-fill-color-shade-50-faded !default;
$sidebar-fill-color: $global-fill-color-shade-0-85 !default;
$sidebar-width: 280px !default;

.sidebar {
  width: $sidebar-width;
  background-color: $sidebar-fill-color;
  border-right: 1px solid $sidebar-border-color;
  height: 100%;
  user-select: text;

  &--header {
    padding: 12px 12px 6px 12px;
  }

  &--body {
    display: flex;
    height: calc(100% - 64px);
    flex-direction: column;
    padding: 12px 16px 16px 16px;
    gap: 24px;

    &--slot {
      &.-expand {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
      }

      &.-scrollable {
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}