$lifemap-global-input-border-radius: 3px !default;
$lifemap-global-input-vertical-padding: 8px !default;
$lifemap-global-input-line-height: 24px !default;

$lifemap-global-input-secondary-border-radius: 8px !default;
$lifemap-global-input-secondary-line-height: 24px !default;
$lifemap-global-input-secondary-vertical-padding: 9px !default;