$navbar-height: $size-header-height !default;
$navbar-color-text: $global-text-color-main !default;
$navbar-left-spacing: 12px !default;;
$navbar-right-spacing: 20px !default;;
$navbar-brand-spacing: 18px !default;
$navbar-link-spacing: 12px !default;
$navbar-social-spacing: 8px !default;
$navbar-separator-spacing: 18px !default;

@mixin navbar-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-self: stretch;
  border: 0;
  background: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: $global-text-color-main-dark;
  }
}

.navbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: $navbar-height;
  color: $navbar-color-text;
  padding: 0 $navbar-right-spacing 0 $navbar-left-spacing;

  &--brand {
    cursor: pointer;
    padding: 0 $navbar-brand-spacing;
    font-size: $global-lg-font-size;
  }

  &--link {
    @include navbar-item;
    padding: 0 $navbar-link-spacing;
    font-size: $global-lg-font-size;
    text-decoration: none;
  }

  &--social {
    @include navbar-item;
    padding: 0 $navbar-link-spacing;
    font-size: $global-lg-font-size;
  }

  &--separator {
    @include navbar-item;
    padding: 0 $navbar-separator-spacing;
  }

  &--spacer {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
  }

  &--menu {
    @include navbar-item;
    display: flex;
    padding: 0 $navbar-link-spacing;
    font-size: $global-xl-font-size;
    text-decoration: none;
  }
}